<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido - PIMA</title>
	<link  href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link  href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" action="homeadmin">
    	<div style="text-align:center;margin-bottom:14px;">
      		<img src="/images/logo-pima-intra.png" style="max-width:70%;"/>
      	</div>
      <h1 class="h3 mb-3 font-weight-normal">Bienvenido a PIMA</h1>
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text" id="inputUser" class="form-control"  required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi&oacute;n</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</body>
</html>