<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Profesionales Manager</title>
</head>
<body>

<div>
	<h1>Profesionales registro</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre profesional</th>
				<th>Apellido Paterno</th>
				<th>Apellido Materno</th>
				<th>Rut</th>
				<th>DV</th>
				<th>fecha nacimiento</th>
				<th>Profesion</th>
				<th>Dirección</th>
				<th>Telefono</th>
				<th>Email</th>
				<th>Cargo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="profesional : ${listProfesional}">
				<td th:text="${profesional.idprofesional}">ID</td>
				<td th:text="${profesional.nombre}">Nombre</td>
				<td th:text="${profesional.appaterno}">Apellido Paterno</td>
				<td th:text="${profesional.apmaterno}">Apellido Materno</td>
				<td th:text="${profesional.rut}">RUT</td>
				<td th:text="${profesional.dv}">DV</td>

			</tr>
		</tbody>
	</table>
</div>

</body>
</html>