<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html :: head">
	<title>Nuevo Cliente - PIMA</title>
</head>
<body>
<div th:insert="header-admin.html :: header-admin"></div>
<div class="container">
		<div class="box-session">
			<button type="button" class="btn btn-primary">Cerrar Sesión</button>
		</div>
		<h1>Complete datos de Cliente</h1>
        <form action="#" th:action="@{/savecliente}" th:object="${cliente}" method="post" class="form needs-validation" novalidate>
				<div class="form-group">
				  <label for="validationCustom01">Nombre:</label>
				  <input type="text" th:field="*{nombre}" class="form-control" id="validationCustom01" placeholder="Ingrese nombre" required>
					<div class="invalid-feedback">
					  Debe agregar un nombre
					</div>
				</div> 
				<div class="form-group">
					<div class="row">
						<div class="col">
							<label for="validationCustom02">Apellido Paterno:</label>
					  		<input type="text" th:field="*{appaterno}" class="form-control" id="validationCustom02" placeholder="Ingrese Apellido PAterno" required>
							<div class="invalid-feedback">Debe agregar su apellido paterno</div>
						</div>
						<div class="col">
							<label for="validationCustom03">Apellido Materno:</label>
							<input type="text" th:field="*{apmaterno}" class="form-control" id="validationCustom03" placeholder="Ingrese Apellido Materno" required>
							<div class="invalid-feedback">Debe agregar su apellido materno</div>			
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-8">
							<label for="validationCustom04">RUT:</label>
							<input type="text" th:field="*{rut}" class="form-control" id="validationCustom04" placeholder="Ingrese RUT" required>
							<div class="invalid-feedback">Debe agregar su RUT</div>					
						</div>
						<div class="col-4">
							<label for="validationCustom05">DV:</label>
							<input type="text" th:field="*{dv}" id="validationCustom05" class="form-control" placeholder="Ingrese DV (D&iacute;gito verificador" maxlength="1" required>
							<div class="invalid-feedback">Debe agregar su digito verificador</div>					
						</div>
					</div>
				</div> 

				<div class="form-group">
					<div class="row">
						<div class="col">
							<label for="validationCustom08">Direcci&oacute;n:</label>
							<input type="text" th:field="*{direccion}" class="form-control" id="validationCustom08" placeholder="Indique Direcci&oacute;n" required>
							<div class="invalid-feedback">Debe agregar su dirección</div>		
						</div>
						<div class="col">
							<label for="validationCustom09">Tel&eacute;fono:</label>
							<input type="text" th:field="*{telefono}" class="form-control" id="validationCustom09" placeholder="Indique Tel&eacute;fono" required>
							<div class="invalid-feedback">Debe agregar su teléfono</div>		
						</div>
					</div>
				</div>	
				<div class="form-group">
					<div class="row">
						<div class="col">
							<label for="validationCustom10">Correo:</label>
							<input type="text" th:field="*{email}" class="form-control" id="validationCustom10" placeholder="Indique Correo" required>
							<div class="invalid-feedback">Debe agregar su correo</div>		
						</div>
						<div class="col">
							<label for="validationCustom11">Rubro:</label>
							<input type="hidden" th:field="*{rubro_idrubro}" class="form-control" id="rubroid">
							<select class="form-control" id="selectrubro" required>
								<option th:each="rubro : ${listRubro}" th:value="${rubro.idrubro}" th:text="${rubro.descripcionrubro}"></option>
							</select>
							<script>
								$(document).ready(function() {
									$('#selectrubro').change(function(){
										var selRubro = $(this).children('option:selected').attr('value');
										$('#rubroid').attr('value',selRubro);
									});
								});
							</script>
						</div>
					</div>
				</div>	
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>											
        </form>
</div>
</body>
</html>